@import "../../../styles/main";

.login-form {
  max-height: 450px;
  max-width: 450px;
  min-width: 300px;

  display: flex;
  flex-direction: column;

  padding: 30px;

  background-color: #fff;
  box-shadow: 1px 1px 15px #8c8c8c;

  .login-logo {
    text-align: center;
    font-size: 4rem;
    color: $color-fresh;
  }

  button, input {
    height: 40px;
    font-size: 1.1em;
  }

  button {
    @include button-variant(#fff, $color-fresh);
    border-width: 1px;
    text-transform: uppercase;
  }

  input {
    margin-bottom: 15px;
    padding: 0 15px;
    border: solid 1px darken($color-clean, 10%);
    background-color: $color-clean;

  }

  .login--registration {
    margin-top: 15px;
    text-align: center;
    color: darken($color-clean, 10%);

    .login--registration__link {
      color: $color-fresh;

      &:hover {
        text-decoration: underline;
      }
    }

  }

}