@import "../base/colors";
@import "../base/mixins";

.btn {
  border-radius: 0;
}

.btn-primary {
  @include button-variant(#fff, $color-fresh);
}

.btn-danger {
  @include button-variant(#fff, $color-vermillion);
}

.has-error .form-control {
  border-color: $color-vermillion;
}