@import "../../../styles/main";

@include placeholder {
  font-style: italic;
  color: $color-clean;
}

.contacts-search {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: solid 1px $color-clean;
  display: flex;
  font-size: 1.5em;
  align-items: center;

  .contacts-search__input {
    width: 100%;
    border: none;
    flex-grow: 1;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}

.add-new-contact {
  margin-bottom: 5px;
  text-align: right;
  .add-new-contact__link {
    color: $color-fresh;
    &:hover {
      text-decoration: none;
    }
  }
}
