<form [formGroup]="contactForm"
      (submit)="save()"
      class="contact">
    <div class="contact-details">
        <div class="contact-details--personal">
            <h1>{{'header.personal' | translate}}</h1>
            <div>
                <div class="form-group"
                     [ngClass]="{'has-error': !contactForm.controls.name.valid && (contactForm.controls.name.touched || contact.id)}">
                    <label for="contact-name">{{'label.contact.name' | translate}}</label>
                    <input type="text"
                           class="form-control"
                           id="contact-name"
                           placeholder="{{'label.contact.name'  | translate}}"
                           formControlName="name"
                           autofocus>
                </div>
                <div class="form-group"
                     [ngClass]="{'has-error': !contactForm.controls.email.valid && (contactForm.controls.email.touched || contact.id)}">
                    <label for="contact-email">{{'label.contact.email' | translate}}</label>
                    <input type="email"
                           class="form-control"
                           id="contact-email"
                           placeholder="{{'label.contact.email' | translate}}"
                           formControlName="email">
                </div>
            </div>
        </div>
        <div class="contact-details--social">
            <h1>{{'header.social' | translate}}</h1>
        </div>
    </div>
    <div class="contact-actions">
        <button type="button"
                class="btn btn-default"
                (click)="cancel()">{{'label.cancel' | translate}}
        </button>
        <button *ngIf="!contact.id"
                type="submit"
                class="btn btn-primary"
                [disabled]="!contactForm.valid">{{'label.contact.create' | translate}}
        </button>
        <button *ngIf="contact.id"
                type="submit"
                class="btn btn-primary"
                [disabled]="!contactForm.valid">{{'label.contact.update' | translate}}
        </button>
        <button *ngIf="contact.id"
                type="button"
                class="btn btn-danger"
                (click)="delete()">{{'label.contact.delete' | translate}}
        </button>
    </div>
</form>