@import "../../../styles/main";

.contact {
  width: 100%;
  padding: 15px;
  border: solid 1px lightgrey;
  box-shadow: 1px 1px 10px $color-clean;
  display: flex;

  .contact-name {
    flex-grow: 1;
  }

  &:hover {
    .contact--actions {
      display: block;
    }
  }
}