@import "../../../styles/main";

.navigation {
    align-items: center;
    height: 52px;
    border-bottom: solid 1px $color-vermillion;
    display: flex;
    padding: 0 15px 0 15px;
    font-size: 1.7rem;

    .navigation__brand {
        flex-grow: 1;
        font-family: 'Alex Brush', cursive;
        color: $color-vermillion;
        font-size: 2.8rem;

        a, a:hover, a:active, a:focus {
            color: $color-vermillion;
            text-decoration: none;
        }
    }

    .navigation__user {
        font-size: 0.8em;

        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
        }

        .navigation__logout {
            color: $color-vermillion;
            margin-left: 15px;

            &:hover {
                color: darken($color-vermillion, 10%);
            }
        }

        .navigation__about {
            color: $color-fresh;

            &:hover {
                color: darken($color-fresh, 10%);
            }
        }
    }
}