@mixin placeholder {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}

@mixin button-variant($color, $background) {
  color: $color;
  background-color: $background;
  border-color: darken($background, 10%);

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken(darken($background, 10%), 25%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken(darken($background, 10%), 12%);
  }
  &:active,
  &.active {
    color: $color;
    background-color: darken($background, 10%);
    border-color: darken(darken($background, 10%), 12%);

    &:hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: darken($background, 17%);
      border-color: darken(darken($background, 10%), 25%);
    }
  }
  &:active,
  &.active {
    background-image: none;
  }
  &.disabled,
  &[disabled] {
    &:hover,
    &:focus,
    &.focus {
      background-color: $background;
      border-color: darken($background, 10%);
    }
  }

}